<!-- <h1> Paper trade </h1>

Welcome to the home page of paper trade

</h2> List of upcoming stuffs at home page
<ul>
	<li>Login from here </li>
	<li>Sneak preview of the functionality of this </li>
</ul>

<h2> Login Form </h2>
<%= form_for @user, :as => :user, :url => login_path(@user) do |f| %>
<p>
	<%= label_tag :name, 'Name:' %>
	<%= text_field_tag :name, params[:name] %>
</p>
<p>
	<%= label_tag :password, 'Password:' %>
	<%= password_field_tag :password, params[:password] %>
</p>
<p>
	<%= f.submit 'Sign In' %>&nbsp;&nbsp;&nbsp;
	<%= f.submit 'Clear Form', :type => 'reset' %>
</p>
<% end %>
-->

<div class="row-fluid">

	<div class="box span8" onTablet="span12" onDesktop="span8">
		<div class="box-header">
			<h2><i class="halflings-icon list"></i><span class="break"></span>Friend's activity</h2>
			<div class="box-icon">
				<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
				<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<ul class="dashboard-list">
				<li>
					<a href="#">
						<i class="fa-icon-arrow-up green"></i>                               
						<span class="green">92</span>
						New Comments                                    
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-icon-arrow-down red"></i>
						<span class="red">15</span>
						New Registrations
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-icon-minus blue"></i>
						<span class="blue">36</span>
						New Articles                                    
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-icon-comment yellow"></i>
						<span class="yellow">45</span>
						User reviews                                    
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-icon-arrow-up green"></i>                               
						<span class="green">112</span>
						New Comments                                    
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-icon-arrow-down red"></i>
						<span class="red">31</span>
						New Registrations
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-icon-minus blue"></i>
						<span class="blue">93</span>
						New Articles                                    
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-icon-comment yellow"></i>
						<span class="yellow">254</span>
						User reviews                                    
					</a>
				</li>
			</ul>
		</div>
	</div><!--/span-->

	<div class="box span4 noMargin" onTablet="span12" onDesktop="span4">
		<div class="box-header">
			<h2><i class="halflings-icon check"></i><span class="break"></span>Latest headline</h2>
		</div>
		<div class="box-content">
			<div class="todo">
				<ul class="todo-list">
					<li>
						Windows Phone 8 App <span class="label label-important">today</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
					<li>New frontend layout <span class="label label-important">today</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
					<li>Hire developers <span class="label label-warning">tommorow</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
					<li>Windows Phone 8 App <span class="label label-warning">tommorow</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
					<li>New frontend layout <span class="label label-success">this week</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
					<li>Hire developers <span class="label label-success">this week</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
					<li>New frontend layout <span class="label label-info">this month</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
					<li>Hire developers <span class="label label-info">this month</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
				</ul>
			</div>	
		</div>
	</div>

</div> <!-- content row fluid -->

<div class="row-fluid">
	<div class="box span4 noMargin offset8" onTablet="span12" onDesktop="span4">
		<div class="box-header">
			<h2><i class="halflings-icon check"></i><span class="break"></span>Stocks activity (put the top volume chart) </h2>
		</div>
		<div class="box-content">
			<div class="todo">
				<ul class="todo-list">
					<li>
						Windows Phone 8 App <span class="label label-important">today</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
					<li>New frontend layout <span class="label label-important">today</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
					<li>Hire developers <span class="label label-warning">tommorow</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
					<li>Windows Phone 8 App <span class="label label-warning">tommorow</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
					<li>New frontend layout <span class="label label-success">this week</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
					<li>Hire developers <span class="label label-success">this week</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
					<li>New frontend layout <span class="label label-info">this month</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
					<li>Hire developers <span class="label label-info">this month</span>
						<span class="todo-actions">
							<a href="#"><i class="halflings-icon ok"></i></a>
							<a href="#" class="todo-remove"><i class="halflings-icon remove"></i></a>
						</span>
					</li>
				</ul>
			</div>	
		</div>
	</div>
</div>

