<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- start: Meta -->
		<meta charset="utf-8">

		<title>Papertrade . SG - Learn stock trading at 0
		risk!</title><%= yield :head %><!-- start: Mobile Specific -->
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<!-- end: Mobile Specific -->
		<!-- start: Favicon and Touch Icons -->
		<link href="ico/apple-touch-icon-144-precomposed.png" rel=
		"apple-touch-icon-precomposed" sizes="144x144">
		<link href="ico/apple-touch-icon-114-precomposed.png" rel=
		"apple-touch-icon-precomposed" sizes="114x114">
		<link href="ico/apple-touch-icon-72-precomposed.png" rel=
		"apple-touch-icon-precomposed" sizes="72x72">
		<link href="ico/apple-touch-icon-57-precomposed.png" rel=
		"apple-touch-icon-precomposed">
		<link href="ico/favicon.png" rel="shortcut icon">
		<!-- end: Favicon and Touch Icons -->
		<%= include_gon %>
		<![if !IE]>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolnks-track" => true %>
		<![endif]>
		<%= stylesheet_link_tag "retina" %>
		<%= csrf_meta_tags %>
		<%= javascript_include_tag :application, controller_name %>
	</head>
	<header>
	<div class="navbar">
				<div class="navbar-inner">
					<div class="container-fluid">
						<a class="brand" href="<%= root_path %>">
							<span>PaperTrade . SG</span>
						</a> <!-- start: Header Menu -->
						<div class="nav-no-collapse header-nav">
							<ul class="nav pull-right">
								<!-- start: User Dropdown -->

								<li class="dropdown">
									<a class="btn dropdown-toggle" data-toggle=
									"dropdown" href="#"><em class=
									"halflings-icon white user"></em> 
									<% 
									if @user 
										concat @user.name;
									else 
										concat link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" 
									end %> 
									<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li>
											<a href="#">
												<em class="halflings-icon white user mtop-3"></em>
												Profile
											</a>
										</li>
										<% if session[:user_id] %>
										<li>
											<a href="<%=signout_path%>">
												<em class="halflings-icon white off mtop-3"></em>
												Logoff
											</a>
										</li>
										<% end %>
									</ul>
								</li><!-- end: User Dropdown -->
							</ul>
						</div><!-- end: Header Menu -->
					</div>
				</div>
			</div><!-- start: Header -->
	</header>
	<body>
		<!-- start: Header -->
		<div class="workspace">
			
			<div class="container-fluid">
				<div class="row-fluid">
					<!-- start: Main Menu -->

					<div class="span1" id="sidebar-left">
						<div class="nav-collapse sidebar-nav">
							<ul class="nav nav-tabs nav-stacked main-menu">
								<li>
									<a href="<%=root_path%>"><i class=
									"fa-icon-home"></i> <span class=
									"hidden-tablet">Home</span></a>
								</li>

								<li>
									<a href="<%=orders_path%>"><i class=
									"fa-icon-credit-card"></i> <span class=
									"hidden-tablet">Portfolio</span></a>
								</li>

								<li>
									<a href="<%=stocks_path%>"><i class=
									"fa-icon-rss"></i> <span class=
									"hidden-tablet">Stocks</span></a>
								</li>

								<li>
									<a href="tasks.html"><i class=
									"fa-icon-bar-chart"></i> <span class=
									"hidden-tablet">Message</span></a>
								</li>
								
								<li>
									<a href="tasks.html"><i class=
									 "fa-icon-envelope"></i> <span class=
									"hidden-tablet">Message</span></a>
								</li>
							</ul>
						</div>
					</div><!-- end: Main Menu -->
					<noscript>
					<div class="alert alert-block span11">
						<h4 class="alert-heading">Warning!</h4>

						<p>You need to have <a href=
						"http://en.wikipedia.org/wiki/JavaScript" target=
						"_blank">JavaScript</a> enabled to use this site.</p>
					</div></noscript> <!-- start: Content -->

					<div class="span11 stocks-main" id="content">
						<%= yield %>
					</div><!-- end: Content -->
				</div><!--/fluid-row-->

				<div class="clearfix"></div>
			</div><!--/.fluid-container-->
		</div>
	</body>
	<footer>
		<div class="container-fluid text-center">
			<p class="ptop-15">Vestibulum libero enim, ultricies eget pharetra eget, semper in est. Vestibulum ac lobortis nulla, ac rutrum erat. Aliquam non ultrices dui, sed adipiscing tellus
			<br/>Aliquam non ultrices dui, sed adipiscing tellus. </p>
			<h4 class="ptop-5">2013 PaperTrade.sg</h4>
		</div>
	</footer>
</html>